html {
  font-family: 'Segoe UI';
  font-weight: 500;
  color: lightgrey;
  background-image: url(img/zigzagwool.png);
  background-repeat: repeat;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
}

body {
  margin: 0 1% 10px 1%;
}

nav.main-navigation {
  overflow: auto;
  margin: 5px 0 5px 0;
  background: rgba(38, 38, 38, 0.9);
}

nav.main-navigation>ul {
  display: flow-root;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav.main-navigation>ul>li {
  position: relative;
  float: left;
  width: 25%;
  min-width: 70px;
  padding: 10px 0 10px 0;
  text-align: center;
}

a {
  cursor: auto;
  text-decoration: underline;
  color: ghostwhite;
}

a:hover {
  text-decoration: none;
  color: white;
  text-decoration-color: white;
}

nav.main-navigation>ul>li>a {
  font-size: 18px;
  font-weight: 600;
  cursor: auto;
  text-decoration: none;
  color: ghostwhite;
}

nav.main-navigation>ul>li>a:hover {
  text-decoration: underline;
  color: white;
  text-decoration-color: white;
}

.banner {
  overflow: hidden;
  height: 130px;
}

.banner>img {
  width: 100%;
}

main {
  position: relative;
  float: left;
  width: 100%;
  margin: 5px 5px 5px 0;
  background: rgba(38, 38, 38, .4);
}

main> article,aside {
  position: relative;
  display: flow-root;
  float: left;
}

table {
  font-weight: 500;
  width: 100%;
}

th, td, caption {
  padding: 5px;
  color: white;
}

table>caption {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  text-align: left;
  border: 3px solid white;
  background-size: 100%;
}

article.main > section.main-page{
  position: relative;
  display: flow-root;
  float: left;
}

article.main>.chapter-list {
  width: 69%;
  padding-right: 1%;
}

.chapter-list>table>caption {
  background-color: rgba(142, 180, 227, .5);
}

.chapter-list>table>tbody>tr>th {
  border-collapse: collapse;
  background-color: rgba(55, 96, 146, .5);
}

.chapter-list>table>tbody>tr>td {
  border-collapse: collapse;
  background-color: rgba(149, 179, 215, .6);
}

.chapter-list>table>tbody>tr>td:nth-child(2n) {
  background-color: rgba(149, 179, 215, .8);
}

article.main>.new-book-list {
  width: 30%;
}

.new-book-list>table>caption {
  background-color: rgba(179, 162, 199, .5);
}

.new-book-list>table>tbody>tr>th {
  border-collapse: collapse;
  background-color: rgba(96, 74, 123, .5);
}

.new-book-list>table>tbody>tr>td {
  border-collapse: collapse;
  background-color: rgba(179, 162, 199, .6);
}

.new-book-list>table>tbody>tr>td:nth-child(2n) {
  background-color: rgba(179, 162, 199, .8);
}

footer {
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
  background: rgba(38, 38, 38, .9);
}

.sidebar {
  float: right;
  width: 29%;
  padding-left: 1%;
}

.sidebar.new-book-list {
  width: 100%;
}

caption {
  padding: 5px;
  color: white;
}

table>caption {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  text-align: left;
  border: 3px solid white;
  background-size: 100%;
}

article.main {
  width: 100%;
}

.book-title-container {
  position: relative;
  float: left;
  width: 100%;
  padding: 10px;
  /*resize: horizontal;
  justify-content: center;*/
}

.book-title-container>div {
  /*display: inline-block;*/
  max-width: 100%;
  font-size: 20px;
  font-weight: bold;
  float: left;
  padding: 10px;
  text-align: center;
  color: white;
  border: 3px solid white;
  background-color: rgba(179, 162, 199, .5);
  background-size: 100%;
  /*resize: horizontal;
  justify-content: center;*/
  /*max-width: -moz-available;*/
}

.block {
  /*position: block;*/
  /*float: left;*/
  margin: 10px;
  min-width: 1%;
  text-align: left;
  /*border: 3px solid white;*/
  overflow: auto;
}

.float {
  /*position: relative;*/
  float: left !important;
  /*margin: 10px;*/
  overflow: hidden;
}

.float-right {
  /*position: relative;*/
  float: right !important;
  /*margin: 10px;*/
  overflow: hidden;
}

.border {
  border: 3px solid white !important;
}

.no-border {
  border: 0px solid white !important;
}

.title {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  z-index: 2;
  float: left;
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: white;
  border: 3px solid white;
}

.description {
  position: relative;
  z-index: 1;
  top: -30px;
  left: 30px;
  float: left;
  width: 85%;
  margin: 10px;
  padding: 10px;
  /*color: white;*/
  border: 3px solid white;
}

.green {
  background-color: rgba(0, 145, 0, .5);
}

.blue {
  background-color: rgba(102, 180, 227, .5);
}

.blue * td {
  border-collapse: collapse;
  background-color: rgba(149, 179, 215, .6);
}

.black {
  background-color: rgba(15, 15, 15, .5);
}

.purple{
  /*background-color: rgba(96, 74, 123, .5);*/
  background-color: rgba(179, 162, 199, .4);
}

.title.green {
  background-color: rgba(0, 145, 0, 1);
}

.title.black {
  background-color: rgba(25, 25, 25, 1);
}

.title.blue {
  background-color: rgba(102, 180, 227, 1);
}
.title.purple{
  background-color: rgba(96, 74, 123, 1);
  /*background-color: rgba(179, 162, 199, 1);*/
}

.z1{
  z-index:1;
}
.z2{
  z-index:2;
}
